<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bestprice.bestprice_back.recipe.BookmarkMapper">

    <!-- 사용자 ID와 레시피 ID로 찜 여부 확인 -->
    <select id="findByUserIdAndRcpSno" parameterType="map" resultType="com.bestprice.bestprice_back.recipe.BookmarkDto">
        SELECT * 
        FROM bookmark 
        WHERE user_id = #{userId} 
          AND rcp_sno = #{rcp_sno}
    </select>

    <!-- 찜 추가 -->
    <insert id="insertBookmark" parameterType="map">
        INSERT INTO bookmark (user_id, rcp_sno) 
        VALUES (#{userId}, #{rcp_sno})
    </insert>

    <!-- 찜 삭제 -->
    <delete id="deleteBookmark" parameterType="map">
        DELETE FROM bookmark 
        WHERE user_id = #{userId} 
          AND rcp_sno = #{rcp_sno}
    </delete>

    <!-- 주간 찜 증가-->
    <update id="incrementWeeklyFavoritesCount">
        UPDATE recipe
        SET WEEKLY_FAVORITES =  WEEKLY_FAVORITES + 1
        WHERE RCP_SNO = #{rcp_sno}
    </update>

    <!-- 주간 찜 감소-->
    <update id="decrementWeeklyFavoritesCount">
        UPDATE recipe
        SET WEEKLY_FAVORITES = WEEKLY_FAVORITES - 1
        WHERE RCP_SNO = #{rcp_sno}
    </update>

    <!-- user_id로 검색-->
    <select id="findRecipesByUserId" parameterType="string" resultType="long">
        SELECT rcp_sno
        FROM bookmark
        WHERE user_id = #{userId}
    </select>
</mapper>