<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bestprice.bestprice_back.inquiry.dao.InquiryMapper">

    <!-- 문의 목록 가져오기 -->
    <select id="getInquiries" resultType="com.bestprice.bestprice_back.inquiry.dto.InquiryDTO">
        SELECT 
            inquiry_id AS inquiryId,
            inquiry_title AS inquiryTitle,
            inquiry,
            inquiry_date AS inquiryDate,
            inquiry_type AS inquiryType,
            secret,
            user_id AS userId,
            answer
        FROM inquiry
        ORDER BY inquiry_id DESC
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 특정 사용자 문의 가져오기 -->
    <select id="getInquiriesByUserId" resultType="com.bestprice.bestprice_back.inquiry.dto.InquiryDTO">
        SELECT 
            inquiry_id AS inquiryId,
            inquiry_title AS inquiryTitle,
            inquiry,
            inquiry_date AS inquiryDate,
            inquiry_type AS inquiryType,
            secret,
            user_id AS userId,
            answer
        FROM inquiry
        WHERE user_id = #{userId}
        ORDER BY inquiry_id DESC
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 특정 사용자 문의 수 가져오기 -->
    <select id="getInquiryCountByUserId" resultType="int">
        SELECT COUNT(*) FROM inquiry WHERE user_id = #{userId}
    </select>


    <!-- 총 문의 수 가져오기 -->
    <select id="getInquiryCount" resultType="int">
        SELECT COUNT(*) FROM inquiry
    </select>

    <!-- 특정 문의 가져오기 -->
    <select id="getInquiryById" resultType="com.bestprice.bestprice_back.inquiry.dto.InquiryDTO">
        SELECT 
            inquiry_id AS inquiryId,
            inquiry_title AS inquiryTitle,
            inquiry AS inquiry,
            inquiry_date AS inquiryDate,
            inquiry_type AS inquiryType,
            secret AS secret,
            user_id AS userId,
            answer
        FROM inquiry
        WHERE inquiry_id = #{id}
    </select>

    <!-- 새로운 문의 등록 -->
    <insert id="createInquiry">
        INSERT INTO inquiry (inquiry_title, inquiry, inquiry_date, inquiry_type, secret, user_id)
        VALUES (#{inquiryTitle}, #{inquiry}, NOW(), #{inquiryType}, #{secret}, #{userId})
    </insert>

    <!-- 특정 문의 삭제 -->
    <delete id="deleteInquiry">
        DELETE FROM inquiry
        WHERE inquiry_id = #{id}
    </delete>

    <!-- updateInquiryAnswer --> 

    <update id="updateInquiryAnswer">
        UPDATE inquiry
        SET 
            answer = #{answer},
            inquiry_type = '답변완료'
        WHERE inquiry_id = #{id}
    </update>
</mapper>
