<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bestprice.bestprice_back.recipe.RecipeMapper">

    <!-- ID로 레시피 조회 -->
    <select id="findById" parameterType="long" resultType="com.bestprice.bestprice_back.components.domain.RecipeDto">
        SELECT * FROM recipe WHERE rcp_SNO = #{rcp_sno}
    </select>

    <!-- 조회수 증가 -->
    <update id="inqCNTCount" parameterType="long">
        UPDATE recipe SET inq_CNT = inq_CNT + 1 WHERE rcp_SNO = #{rcp_sno}
    </update>

    <!-- 주간 조회수 증가-->
    <update id="incrementWeeklyViewsCount">
        UPDATE recipe
        SET WEEKLY_VIEWS =  WEEKLY_VIEWS + 1
        WHERE RCP_SNO = #{rcp_sno}
    </update>

    <!-- 레시피 ID로 조회 -->
    <select id="getRecipeBySno" parameterType="long" resultType="com.bestprice.bestprice_back.components.domain.RecipeDto">
        SELECT * FROM recipe WHERE rcp_SNO = #{rcp_sno}
    </select>

    <!-- 식재료에 있는 재료로 조회 -->
    <select id="findRecipesByIngredient" parameterType="string" resultType="com.bestprice.bestprice_back.components.domain.RecipeDto">
        SELECT * 
        FROM recipe
        WHERE CKG_MTRL_CN LIKE CONCAT('%', #{ingredient}, '%')
        ORDER BY RAND() 
        LIMIT 1;
    </select>

    <!-- 정확히 일치하는 검색 -->
    <select id="findRecipesByExactIngredient" parameterType="string" resultType="com.bestprice.bestprice_back.components.domain.RecipeDto">
        SELECT * 
        FROM recipe
        WHERE FIND_IN_SET(#{ingredient}, CKG_MTRL_CN)
        LIMIT 1;
    </select>

</mapper>
