<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.bestprice.bestprice_back.components.dao.RecommendationMapper">

    <!-- 추천 여부 확인 -->
    <select id="existsByUserIdAndRecipeId" resultType="int">
        SELECT COUNT(*) 
        FROM recommendation
        WHERE user_id = #{userId} AND recipe_id = #{recipeId}
    </select>

    <!-- 추천 기록 추가 -->
    <insert id="insertRecommendation">
        INSERT INTO recommendation (user_id, recipe_id)
        VALUES (#{userId}, #{recipeId})
    </insert>

    <!-- 추천 기록 삭제 -->
    <delete id="deleteRecommendation">
        DELETE FROM recommendation
        WHERE user_id = #{userId} AND recipe_id = #{recipeId}
    </delete>

    <!-- 추천수 증가 -->
    <update id="incrementRecommendCount">
        UPDATE recipe
        SET RCMM_CNT = RCMM_CNT + 1
        WHERE RCP_SNO = #{recipeId}
    </update>

    <!-- 추천수 감소 -->
    <update id="decrementRecommendCount">
        UPDATE recipe
        SET RCMM_CNT = RCMM_CNT - 1
        WHERE RCP_SNO = #{recipeId}
    </update>

</mapper>
