<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bestprice.bestprice_back.components.dao.SearchMapper">

    <!-- searchResultRow --> 

    <insert id="searchResultRow" parameterType="com.bestprice.bestprice_back.components.domain.ShopSearchDto">
        INSERT INTO product (productid, baseprice, price, link, productname, description, imgurl, category, subcategory, discount, recipeid)
        VALUES
        <foreach collection="params" item="item" separator=",">
            (#{item.productId}, #{item.basePrice}, #{item.price}, #{item.link}, #{item.productName}, #{item.description}, #{item.imgUrl}, #{item.category}, #{item.subCategory}, #{item.discount}, #{item.recipeId})
        </foreach>
        ON DUPLICATE KEY UPDATE productname = VALUES(productname), discount = VALUES(discount), price = VALUES(price),imgurl = VALUES(imgurl);
        
    </insert>


    <!-- existChk --> 

    <select id="existChk" parameterType="java.lang.String" resultType="com.bestprice.bestprice_back.components.domain.ShopSearchDto">
        SELECT * FROM product WHERE productName LIKE CONCAT('%',#{query},'%')
    </select>


    <!-- getRecipe --> 

    <select id="getRecipe" parameterType="java.lang.String" resultType="com.bestprice.bestprice_back.components.domain.RecipeDto">
        SELECT * FROM recipe WHERE CKG_NM LIKE CONCAT('%',#{query},'%') ORDER BY RAND() LIMIT 20;
    </select>

    <!-- allRecipes --> 

    <select id="allRecipes" resultType="com.bestprice.bestprice_back.components.domain.RecipeDto">
        SELECT * FROM recipe limit 500;
    </select>

    <!-- oneRecipe --> 

    <select id="oneRecipe" resultType="com.bestprice.bestprice_back.components.domain.RecipeDto">
        SELECT * FROM recipe WHERE image_url is null ORDER BY RAND() ;
    </select>    

    <!-- imageSet --> 

    <insert id="imageSet">
        UPDATE recipe SET image_url = #{temp} WHERE RCP_SNO = #{RCPNUM};
    </insert>  

    <select id="filteredRecipes" parameterType="java.lang.String" resultType="com.bestprice.bestprice_back.components.domain.RecipeDto">
        SELECT * FROM recipe
        ORDER BY
            CASE
                WHEN CKG_DODF_NM = #{difficulty} THEN 1
                WHEN CKG_INBUN_NM = #{portion} THEN 2
                WHEN CKG_KND_ACTO_NM = #{category} THEN 3
                WHEN CKG_MTH_ACTO_NM = #{method} THEN 4
                ELSE 5
            END, RAND()
        LIMIT 500;
    </select>

    </mapper>