<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bestprice.bestprice_back.user.dao.UserMapper">

    <!-- joinUser --> 

    <insert id="joinUser"
            parameterType="com.bestprice.bestprice_back.user.dto.UserRegisterDTO">
        INSERT INTO user (user_id, password, name, nickname, email, role, verified)
        VALUES (#{userId}, #{password}, #{name}, #{nickname}, #{email}, #{role}, #{verified})
    </insert>

    <!-- findByUserId --> 

    <select id="findByUserId"
            parameterType="String" 
            resultType="com.bestprice.bestprice_back.user.domain.User">
        SELECT * FROM user WHERE user_id = #{userId}
    </select>
    </mapper>